/* RESET VALUES */

* {
    margin: unset;
    box-sizing:unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

html,body{
    height: 100%;
    box-sizing: border-box;
    
}

/*BACKGROUND IMAGE*/

body{
    background-image:url('./img/bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FLEXBOX LAYOUT*/

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.container__weather {
    padding: 2rem;
    margin-bottom: 7rem;
}

